*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background  video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.content{
    z-index: 5;
}
.box {
    width: 30%;
    min-width: 300px ; /*agar layar nya tetap sekian persen dari layar ketika di minimize*/
    height: 90%; /* berdasarkan total box yang diatas nya*/
    margin: auto; /*biar konten ditengah*/
    text-align: center;
    padding: 30px 0 ;/* padding (konten nya yg bergeser) margin (box nya yg bergeser)
                        50 buat vertikal 0 buat horizontal*/
    background-color: rgba(0, 0, 0, 0);
}
.box-inside{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(0,0,0,.8);
}

.headline1{
    font-weight: 150; /*ketebalan font*/
    color: wheat;
    padding-top: 20px;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: cursive;
}
.headline2{
    font-weight: 200;
    color:gainsboro;
    padding-bottom: 10px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}
input{ /*tidak pakai dot karna dia merupakan tag bukan kelas*/
    width: 70%;
    padding: 5px 20px;
    margin: 4px;
    display: inline-block; /*1 barus hanya untuk satu input*/
    border: 1px solid darkgray;
    border-radius: 5px;
    box-sizing: border-box ; /*biar border box keliatan*/
}
button{
    width: 70%;
    background-color: green;
    color: white;
    padding: 4px 20 px;
    margin: 4px 0; 
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer; /*buat ubah bentuk kursor*/
    line-height: 25px;
}
button:hover{
    background-color: #68b0ab ;
}
.footline2{
    color: #8d93ab;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footline2:hover{
    color: gray;
}
.footline1{
    color: #d6e0f0 ;
    font-size: 13;
    padding-top: 10px;
    padding-bottom: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    color: wheat;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 8px;
}
.media{
    padding-bottom: 20px;
}
.ig{
    margin-top: 10px;
}