.page-login{
    background: url(img/gedung_prasmul.jpg);
    height:calc (100vh + 50px); /* sesuai dengan tinggi screen yg ada di laptop */
    width: calc (100% + 50px); /*biar fit sama laptop*/
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0); /*smkin dekat 1 besar alpha smkin hitam*/
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}
.box {
    width: 30%;
    min-width: 300px ; /*agar layar nya tetap sekian persen dari layar ketika di minimize*/
    height: 85%; /* berdasarkan total box yang diatas nya*/
    margin: auto; /*biar konten ditengah*/
    text-align: center;
    padding: 30px 0 ;/* padding (konten nya yg bergeser) margin (box nya yg bergeser)
                        50 buat vertikal 0 buat horizontal*/
    background-color: rgba(0, 0, 0, 0);
}
.box-inside{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.img-brand{ /* ngatur ukuran logo prasmul*/
    margin-top: 5px;
    height: 50px;
    width: 50px;
}
.headline1{
    font-weight: 150; /*ketebalan font*/
    color: darkgrey;
}
.headline2{
    font-weight: 200;
    color: gray;
}
input{ /*tidak pakai dot karna dia merupakan tag bukan kelas*/
    width: 70%;
    padding: 5px 20px;
    margin: 3px;
    display: inline-block; /*1 barus hanya untuk satu input*/
    border: 1px solid darkgray;
    border-radius: 5px;
    box-sizing: border-box ; /*biar border box keliatan*/
}
button{
    width: 70%;
    background-color: #1e2d49;
    color: white;
    padding: 4px 20 px;
    margin: 4px 0; 
    border:none;
    cursor: pointer; /*buat ubah bentuk kursor*/
}
button:hover{
    background-color: gray;
}
.footline2{
    font-weight: 400;
    color: #1e2d49;
}
.footline2:hover{
    color: gray;
}